<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  {{> header}}
   <div class="container">
    {{{body}}}
</div>

     <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script src="/javascripts/checkout.js"></script>

  <script src="/javascipts/jquery.js" />

<script src="/javascipts/bootstrap.js"  />

  </body>
</html>
